#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.graphContainer {
  width: 50%;  /* Adjust this value to control the width of the box */
  height: 500px;  /* Adjust this value to control the height of the box */
  margin: 20px auto;  /* Centers the box and adds some vertical margin */
  border: 2px solid #000;  /* Adds a border around the box */
  padding: 10px;  /* Adds some inner spacing */
  box-sizing: border-box;  /* Includes padding and border in the element's dimensions */
  overflow: hidden;  /* Prevents content from spilling out of the box */
}

.graphWrapper {
  width: 100%;
  height: 100%;
  /* You can adjust the position of the graph within the container using margins or transforms */
  /* For example, to move it down and to the right: */
  margin-top: 20px;
  margin-left: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mb-4 {
  margin-bottom: 1rem; /* Adjust the rem unit based on your spacing preference */
}

.or {
  padding-bottom: 2rem; /* Adjust the rem unit based on your spacing preference */
}


.file-uploader {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
}

.file-label {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

.file-name {
  padding: 6px 12px;
  background-color: #f8f9fa;
  border: 2px solid #ced4da; /* Added border */
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.attach-icon {
  fill: white; /* Change color of SVG icon */
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.search-form {
  width: 50%;
  margin-bottom: 1rem;
}

.search-answer {
  text-align: center;
}